/*_______________até tela 1280px______________________*/

@media screen and (max-width:1280px) {
  h1,
  h2 {
    font-size: 28px;
  }
}

/*_______________até tela 1024px______________________*/
@media screen and (max-width:1024px) {
  h1,
  h2 {
    font-size: 24px;
  }

  h3{
    font-size: 16px;
  }

  img{
    width: 50%;
  }

  .container{
    padding: 64px 40px;
  }

  .logo{
    width: 150px;
  }

  #nav-menu a {
    padding: 24px;
    font-size: 20px;
  }
  
  section {
    padding: 24px 40px 128px 40px;
  }

  .botoes{
    display: flex;
    gap: 0.5em;
  }

  .botoes a{
    font-size: 14px;
    padding: 16px 28px;
  }

  footer{
    gap:40px;
    padding: 64px 40px;
  }
}


/*_______________até tela 768px______________________*/
@media screen and (max-width:768px) {

  h1,
  h2 {
    margin-bottom: 16px;
    font-size: 20px;
  }
  header{
    padding: 24px 30px;
  }
  .hamburguer{
    display: block;
  }
  .hamburguer.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  #nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap:0;
    flex-direction: column;
    background-color: var(--orange-color-secondary);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  #nav-menu a{
    margin: 16px 0;
  }
  #nav-menu.active{
    left: 0;
    z-index: 10;
  }

  section {
    flex-direction: column;
  }
  .absolute{
    bottom: 350px;
  }
  footer{
    gap:20px;
    padding: 44px 20px;
  }

  footer p,
  footer a{
    font-size: 0.8em;
  }

  #copyright{
    font-size: 14px;
  }
}

/*_______________até tela 465px______________________*/
@media screen and (max-width:465px) {
  img{
    width: 100%;
  }
  .container{
    padding: 44px 20px;
    gap: 16px;
  }

  header{
    padding: 24px 15px;
  }
  .logo{
    width: 125px;
  }
  .absolute{
    bottom: 400px;
  }
  .botoes a{
    font-size: 14px;
    padding: 14px 14px;
  }
  footer{
    flex-direction: column;
  }
}